.App {
  text-align: center;
}
.link {
  display: block;
}
.login {
  margin-top: 100px;
  text-align: center;
  color: rgb(29, 199, 214);
}
.input {
  width: 25%;
  height: 1.5rem;
  margin: 15px;
}
.login-button {
  width: 20%;
  height: 2rem;
  border-radius: 5px;
  background-color: aqua;
}

.countries {
  text-align: center;
  background-color: #f7f5eb;
  padding-top: 75px;
}

.countries-heading {
  padding-bottom: 50px;
  color: #2b3467;
}

.countries-card {
  width: 300px;
  margin: 10px 0;
  padding: 15px;
  text-align: left;
  background-color: #bad7e9 !important;
  color: #2b3467;
}

.countries-card:hover {
  background-color: #2b3467 !important;
  color: #bad7e9;
  transform: scale(1.02);
  box-shadow: 1px 1px 5px #2b3467;
  transition: all ease 750ms !important;
}
